<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blockchain Visualizer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png"/>
    </head>
    <body>

        <%- include partials/navbar.ejs %>

        <div class="container">
            <div class="row justify-content-md-center settings-box">
                <span class="col-6">
                    <strong>Número de blocos:</strong>
                    <input id="numOfBlocks" name="numOfBlocks" type="text">
                    <input id="setBlocksBtn" class="top-bar-btn" type="button" value="Buscar" onclick="setBlocksNum()">
                </span>
                <span class="col-6 ordBox">
                    <strong class="ordLabel">Ordenação:</strong>
                    <span id="most-recent" class="ordBtn">Mais Recente</span>
                    <span id="oldest" class="ordBtn">Mais Antigo</span>
                </span>
            </div>
        </div>

        <div class="scrolling-wrapper">
            
            <% blocks.forEach((block) => { %>
            <div class="block">
                <p class="break"><strong>Hash:</strong> <span class="lead"> <%= block.hash %></span></p>
                <p><strong>Car Plate:</strong> <%= block.carPlate %></p>
                <p><strong>Timestamp:</strong> <%= block.timestamp %></p>
                <p><strong>Data:</strong> <%= block.carData.data %> metros</p>
                <p><strong>Index:</strong> <span class="index"><%= block.index %></span></p>
                <p class="break"><strong>Previous Block Hash:</strong> <span class="lead hash-small"> <%= block.previousBlockHash %></span></p>
            </div>
            <% }); %>

        </div>

        <%- include partials/footer.ejs %>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            const numBlocks = "<%= numBlocks %>";
            const order = "<%= order %>";

            document.querySelector("#numOfBlocks").placeholder = numBlocks;
            if (order == "lastBlocks") {
                document.querySelector("#most-recent").classList.add("active");
            } else {
                document.querySelector("#oldest").classList.add("active");
            }
        </script>

        <script src="/js/main.js"></script>

    </body>
</html>